<!-- <div class="container">
    <div class="row my-3">
        <p>Usuario: <input type="text" id="nombre" [(ngModel)]="usuario"></p>
        <p>Contraseña: <input type="password"  id="password" [(ngModel)]="password"></p>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn btn-primary mx-3" (click)="inicarSesion()">Iniciar Sesion</div>
            <div class="btn btn-primary mx-3" routerLink="/register">Registrarse</div>
        </div>
        
    </div>
</div> -->
<div class="container-fluid">
    <div class="row py-3 text-center">
        <div class="col-2 cl-img">
            <img src="https://wallpapers.com/images/featured/rick-and-morty-8rc57d4ds44gqzau.jpg" alt="">
        </div>
        <div class="col cl-form">
            <p class="my-3 usuario">Username:</p>
            <input type="text" id="nombre" [(ngModel)]="usuario">
            <p class="my-3 password">Password:</p>
            <input type="password"  id="password" [(ngModel)]="password">
            <div><div class="btn btn-primary px-3 my-4" (click)="inicarSesion()">Iniciar Sesión</div></div>
            <a routerLink="/register">Do you have not an account? Sign Up</a>
        </div>
    </div>
</div>

