.container-fluid{
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin-left: -12px;
}

h3{
    font-weight: bold;
}

.cl-img{
    background: url(https://wallpapers.com/images/featured/rick-and-morty-8rc57d4ds44gqzau.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100vh;
    margin-left: -12px;
}

.cl-form{
    margin-top: 15vh;
    margin-left: 30vw;
}

input{
    width: 70%;
    height: 40px;
}

.btn{
    width: 70%;
}

a{
    text-align: center;
}

@media (max-width: 750px){
    .cl-form{
        margin-left: 0;
    }
    .cl-img{
        display: none;
    }
}