.container-fluid{
    background-color: rgb(226, 226, 226);
}

.cl-img{
    background: url(https://wallpapers.com/images/featured/rick-and-morty-8rc57d4ds44gqzau.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-left: -12px;
}

.cl-form{
    margin-top: 200px;
}

input{
    width: 500px;
    height: 40px;
}

.btn{
    width: 26vw;
}