<app-home title="Home"></app-home>
<div class="container-fluid">
    <div class="row">
        <div class="col cl-char">
            <div class="card my-3 mx-3" style="width: 18rem;" *ngFor="let datos of datosArray">
                <img [src]="datos.image" alt="Imagen de {{datos.name}}">
                <div class="card-body">
                <h5 class="card-title">{{datos.name}}</h5>
                <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>