.container-fluid{
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin-left: -12px;
}

.btn{
    width: 100%;
}

.rw-btn{
    place-content: center;
}

@media (max-width: 750px){
    .rw-cards{
        display: grid;
        justify-content: center !important;
    }
}