p{
    font-size: large;
}

.ct-home {
    width: 100vw;
    height: 88vh;
    margin-left: -12px;
    background-color: rgb(216, 216, 216);
}

.ct-home .col {
    padding: 0;
} 

.ct-home .col img {
    width: 100vw;
    height: 88.5vh;
}

.cl-text{
    margin-top: 200px;
}

.cl-btn{
    place-content: center;
}

@media (max-width: 970px) { 
    .ct-home{
        height: 87vh;
    }

    .ct-home .cl-img {
        display: none;
    }
    
    .cl-text{
        margin-top: 50px;
    }
}